.container {
  background-image: url('/images/gum.png');
  animation: spin 60s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
